body,html
{
	padding: 0px;
	margin: 0px;
	font-size: 66.66%;
	background: rgb(50,50,50);
	font-family: 'Roboto', 'sans-serif' !important;
}
#about
{
	background-image:url('../images/fondo20-01.png');
	background-attachment: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#banda
{
	height:130px;
	width: 100%;
	margin-top: 2em;
	background: rgb(50,50,50);
	margin-left: 0px !important;
}
#bot
{
	height: 25%;
}
#cont_servicios
{
	padding-left: 10%;
}
#container
{
	background-color: rgba(0,0,0,0.9);
}

#face
{
	background: url('../images/facebook-01.png');
	background-size: 100% 100%; 
}
#gplu
{
	background: url('../images/google mas-01.png');
	background-size: 100% 100%;
}
#mid
{
	height: 50%;

}
#mini_gif
{
	width: 100%;
	background: rgb(50,50,50);
	margin-top: 2em;
	margin-bottom: 2em;
	top: 41px;
	position: relative;
}
#mini_gif img
{
	display: block;
	margin: 0 auto;
	width: 50%;
}
#project
{
	background-image: url(../images/fondo10-01.png) !important;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-bottom: 4em;
}
#top
{
	height: 25%;
}
#twit
{
	background: url('../images/twitter-01.png');
	background-size: 100% 100%;
}
.active
{
	background-image: linear-gradient(to bottom, rgba(219, 219, 219, 0) 0px, rgba(226, 226, 226, 0) 100%);
	background-repeat: repeat-x;
	box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.0) inset;
	color: white !important;
}

.banner img
{
	width: 100%;
}
.bloque
{
	min-height: 100px;
}
.contenedorBot
{
	color: white;
}
.contenedorGrande
{
	width: 100%;
	margin: 0px;
}
.cont_titulo_about img
{
	margin-top: 5em;
	width: 100%;
	margin-left: 50%;
	min-width: 300px;
}
.cont_titulo_serv img
{
	margin-top: 5em;
	width: 100%;
	margin-left: 55%;
	min-width: 300px;
}
.cont_palabra
{
	color: white;
}
.cpy
{
	color:white;

	text-align: center;
}
.footer
{
	width: 100%;
	margin: 0px;
	background: url('../images/fondo de pie de pagina-01.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.header
{
	background-color: rgb(199,199,198);
	position: fixed;
	width: 100%;
	max-height: 100px;
	margin: 0px !important;
	z-index: 5;
}

.info
{
	list-style: none;
	padding-left: 0px !important;
}
.info > li > a,.info > li >p > a
{
	color: white;
	text-decoration: none;
}
.info_titulo > a
{
	color: white;
}
.letra
{
	display: inline-block;
	padding: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	cursor:pointer;
}
.logo
{
	width: 15%;
	max-width: 250px;
	min-width: 136px;
	float: left;
	margin-top: -10px;
}
.navbar-default
{
	background-color: transparent;
	background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0,rgba(248, 248, 248, 0) 100%);
	border-color: transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0),0 1px 5px rgba(0,0,0,0);
	display: inline;
	vertical-align: middle;
}
.navbar-nav
{
	width: 60%;
	margin-left: 10%;
}
.navbar-nav > li
{
	width: 20%;
}
.navbar-nav > .active > a{
    color: #000;
    background-image: linear-gradient(to bottom, rgba(219, 219, 219, 0) 0px, rgba(226, 226, 226, 0) 100%) !important;
    background-color: rgba(231, 231, 231, 0) !important;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0) inset !important;
}
.navbar-nav > li > a > h4
{
	color: black;
	text-align: center;
	font-size: 1.7em;
}
.navbar-nav > li > a > h5
{
	color: black;
	text-align: center;
	font-size: 1.4em;
}

@media(max-width: 991px){
	#redes
	{
		margin-left: 20%;
	}
	.logo
	{
		margin-top: 0px;
	}
	.navbar-nav
	{
		margin-left: 0px;
		width: 80%;
	}
	.navbar-nav > li{
		width:20%;
	}
}
@media(max-width: 676px){
	#cont_servicios
	{
		padding-left: 0px;
	}
	#redes
	{
		width: 100%;
	}
	.contenedorBot
	{
		width: 100%;
		text-align: center;
		color: white;
	}
	.contSlider
	{
		width: 100%;
	}
	.info
	{
		list-style: none;
	}
	.info > li > a,.info > li >p > a
	{
		color: white;
		text-decoration: none;
	}
}
.medio
{
	float: none;
	display: block;
	margin: 0 auto;
}
.palabra
{
	margin:0 0 3px !important;
	opacity: 0;
}
.redes_sociales
{
	float: left;
	width: 90px;
	height: 80px;
	margin-left: 1em;
}

.slick-slide img
{
	width: 80%;
}
.textoPromedio
{
	font-size: 1.5em;
}
.textoServicios
{
	text-align: justify;
	margin-right: 5%;
}
.textLeft
{
	text-align: left;
}
.textMid
{
	text-align: center;
}
.textRight
{
	text-align: right;
}
/*---------------Index--------------*/